packages/server/.env
node_modules/
dist/
.vite/
*.log
.env
.env.local
.DS_Store

# app
app/node_modules/
app/dist/
app/.vite/

# proto
proto/node_modules/
proto/dist/
proto/.vite/

# server
server/node_modules/
server/dist/
server/.env