:root {

--color-background: #FCFCFC;
--color-off-white:#F5F5F5;
--color-primary:#154734;
--color-primary-light:#B7CDC2;
--color-accent1:#3A913F;
--color-border:#DAD7CB;
--color-accent2:#5CB8B2;
--color-tint: #3433329b;

}

body.dark-mode {
    --color-background: #373737;
    --color-off-white:#EEECE9;
    --color-primary:#E1E7DC;
    --color-primary-light:#797872;
    --color-accent1:#3A913F;
    --color-border:#DAD7CB;
    --color-accent2:#5CB8B2;
    --color-tint: #3433329b;
    

}