* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    display:flex;
    justify-content: center;
    line-height: 1.5;
    padding-top:8rem;
    background-image: url(../assets/PrintQueue.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    font-family:'Roboto';
    color:var(--color-primary)
    
    

}


body.dark-mode {
    background-image: url(../assets/PrintQueueDark.png);
}

body.dark-mode thead{
    background-color:var(--color-primary-light)
}



a {
    display:flex;
    align-items: center;
    font-size: 1.5rem;
    color: var(--color-primary);
    font-family: 'Roboto';
     
}


main{
  width:80%;
  overflow-y:auto;
}




svg.nav-icon {
    display: inline;
    height:2em;
    width:2em;
    color: var(--color-primary);
}

svg.drop-icon {
    display: inline;
    height:1em;
    width:1em;
}



@keyframes modalAppear {
    from { transform: scale(0.95); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
  }